.linkWithIcon {
  display: flex;
  align-items: center;
  line-height: 0rem;
  gap: 0.3rem;
  text-decoration: none;
  color: var(--principal-color);
  background-color: black;
  width: fit-content;
  border-radius: 5px;
  text-transform: uppercase;
}

.ordersMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 5rem;
  height: fit-content;
}

.ordersContainer {
  display: flex;
  flex-direction: column;
  width: 50rem;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.ordersContainer h1 {
  color: var(--gray-light);
  text-transform: uppercase;
  font-size: var(--text-normal);
  letter-spacing: 1px;
}

.noOrders {
  color: var(--principal-color);
}

.ordersContainer a {
  margin-top: 0.5rem;
  padding: 0.7rem 1rem;
  font-size: var(--text-small);
}

.orderDiv {
  border: 1px solid rgb(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.orderHeader {
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--black-principal);
  border-radius: 7px;
}

.orderHeader div p:first-child {
  color: var(--gray-light);
  font-family: 'Geist-Medium';
  text-transform: uppercase;
  font-size: var(--text-small);
  letter-spacing: 0.5px;
}

.orderHeader div p:last-child {
  color: var(--gray-dark);
  font-size: var(--text-small);
}

.orderItem {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: rgb(27, 27, 27);
  border-radius: 7px;
  align-items: center;
}

.orderItem img {
  height: 5rem;
}

.orderItem div {
  display: flex;
  flex-direction: column;
}

.orderItem div p:first-of-type {
  color: var(--principal-color);
}

.orderItem div p:last-of-type {
  color: var(--gray-dark);
  font-size: var(--text-small);
}

.orderItem div a {
  font-size: var(--text-button);
  padding: 0.5rem 1rem !important;
}